html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* •••••••••••••••••••••••••••••••••••••••••••••••••••• */

html>* {
    font-size: 1.2rem;
    font-family: 'Syne', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(239, 239, 239);
}

.todo {
    padding: 20px;
}

.currentProject {
    font-size: 1.8rem;
}

.project>* {
    margin: 10px 0;
}



#content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 100vh;
}

.projects {
    background-color: rgb(239, 239, 239);
    padding: 20px;
}

.projectsBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.todo {
    /* display: grid; */
    grid-column: 2 / span 3;
    /* grid-row: 1 / end; */
    /* border: 5px solid rgb(38, 255, 0); */
}

.hidden {
    display: none;
}

.tile:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.footer {
    width: 100%;
    background-color: blue;
    grid-row-start: 2;
    grid-column: 1 / 4;
    place-self: end;
    justify-self: center;
    text-align: center;
}

.project {
    display: flex;
    flex-direction: column;
}

.project>button {
    max-width: 10%;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.task>* {
    width: 16.6666666667%;
}

.taskList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
}

.task-info:hover {
    background-color: red;
}


.flex {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.flex>* {
    margin: 0 10px;
}

.todo>.addTaskBtn {
    display: grid;
    justify-items: start;
    align-items: end;
    /* align-content: start; */
    /* place-content: start; */
}

button {
    background-color: rgb(255, 255, 255);
    border: none;
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px;
    color: green;

}

button:hover {
    cursor: pointer;
    border: 1px solid green;
    background-color: green;
    border-radius: 8px;
    color: white
}